body {
  background-color: #cc6699
}

.container {
  background-color: black;
}

h5 {
  text-align: center;
  font-size: 50px;
  font-style: italic;
}

.mo {
  margin-bottom:
}

h4 {
  text-align: left;
  font-size: 20px;
  font-style: oblique;
}

h6 {
  font-size: 20px;
  font-style: italic;
}

.game {
  display: none;
}

p {
  font-style: italic;
}
.urban {
  margin-bottom: 2em;
  margin-top: 4em;
  text-align: center;
}
